<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ddns.javierlopm.quienlibre" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CambioTrimestre"
            android:label="@string/title_activity_cambio_trimestre"
            android:parentActivityName=".MenuPrincipal"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ddns.javierlopm.quienlibre.MenuPrincipal" />
        </activity>
        <activity
            android:name=".AdicionHorario"
            android:label="@string/title_activity_adicion_horario"
            android:parentActivityName=".MenuPrincipal"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ddns.javierlopm.quienlibre.MenuPrincipal" />
        </activity>
        <activity
            android:name=".VisualizarQuienLibre"
            android:label="@string/title_activity_visualizar_quien_libre"
            android:parentActivityName=".MenuPrincipal"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".AgregarTablaHorario"
            android:label="@string/title_activity_agregar_tabla_horario"
            android:screenOrientation="landscape"
            android:parentActivityName=".AdicionHorario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ddns.javierlopm.quienlibre.AdicionHorario" />
        </activity>
    </application>

</manifest>
